{% load static %}
<div class="col-6 col-md-4 my-1">
    <div class="card h-100">
      <img class="img-fluid card-img-top" src="{% static 'img/image-holder.png' %}">
      <div class="card-body d-flex flex-column">           
        <h5 class="card-title">{{ coin.name }}</h5>
        <p class="badge bg-secondary">{{ coin.denomination }} {{ coin.currency }}</p>
        <p class="card-text flex-grow-1">{{ coin.description|truncatechars:40 }}</p>
        <a class="mt-3 regular-link" href="{% url 'catalog:catalog_detail' coin.id %}">
          Подробнее -->
        </a>
      </div>
    </div>
</div>