{% extends "base.html" %}
{% load static %}
{% block content %}
  {% if coin %}
    <h1 class="pb-2 mb-0">{{ coin.name }}</h1>  
    <div class="row mt-3">
      <div class="col-12 col-md-6">
        <h2>Описание</h2>
        <p>{{ coin.description }}</p>
        {% if coin.category %}
          <p>Категория: {{ coin.category.title }}</p>
        {% endif %}     
        <h4>
          <span class="badge bg-secondary">{{ coin.denomination }} {{ coin.currency }}</span>
        </h4>
        {% if coin.material %}
          <p>Материал: {{ coin.material.title }}</p>
        {% endif %}
        {% if coin.weight %}
          <p>Вес: {{ coin.weight }} г</p>
        {% endif %}
        {% if coin.mint %}
          <p>Монетный двор: {{ coin.mint.title }}</p>
        {% endif %}
      </div> 
      <div class="col-12 col-md-6 mb-3">
        <img class="img-fluid" src="{% static 'img/image-holder.png' %}">      
      </div>
    </div>
  {% elif banknote %}
    <h1 class="pb-2 mb-0">{{ banknote.name }}</h1>  
    <div class="row mt-3">
      <div class="col-12 col-md-6">
        <h2>Описание</h2>
        <p>{{ banknote.description }}</p>
        {% if banknote.category %}
          <p>Категория: {{ banknote.category.title }}</p>
        {% endif %}     
        <h4>
          <span class="badge bg-secondary">{{ banknote.denomination }} {{ banknote.currency }}</span>
        </h4>
        <p>Страна: {{ banknote.country.title }}</p>
        <p>Год: {{ banknote.year }}</p>
      </div> 
      <div class="col-12 col-md-6 mb-3">
        <img class="img-fluid" src="{% static 'img/image-holder.png' %}">      
      </div>
    </div>
  {% endif %}
{% endblock %}